.ibcom-container {
  position: fixed;
  height: 70px;
  width: 255px;
  bottom: 25px;
  right: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 1035;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.personal-manager {
  width: fit-content;

  margin-bottom: 58px;
  padding: 8px;
  border-radius: 7px !important;
}
.btn-con {
  position: fixed;
  height: 70px;
  width: 255px;
  bottom: 25px;
  right: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 1035;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ibcom-button {
  border: 0;
  outline: none !important;
  cursor: pointer;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-top: 24px;
}
.ibcom-img,
.cross-img {
  height: 38px;
  width: 38px;
  border-radius: 100%;
}
.download-button {
  outline: none !important;
  border: 0 !important;
  position: absolute;
  transition: 2s ease-in-out;
  bottom: 25px !important;
  right: 70px;
  width: 180px !important;
  height: 34px !important;
  padding: 0 24px;
  display: flex;
  color: white !important;
  align-self: flex-end;
  background-image: linear-gradient(0deg, #73dfe7, #0063f7) !important;
  align-items: center;
  border-radius: 30px !important;
  padding-top: 4px;
  text-decoration: none;
}
