.all-tracks-container {
  height: 100%;
  padding: 25px 0px 0px 0px;
  padding-left: 50px;
  padding-right: 35px;
  background-color: rgb(250, 251, 254);
  height: 100%;
  padding-bottom: 30px;
}

.idp-tracks {
  list-style-type: none;
  display: flex;
  flex-direction: row;

  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tracks-container {
  margin-top: 60px;
}
.track-group-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: rgb(0, 48, 110);
  letter-spacing: 0.4px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 10px;
}
.idp-tracks::-webkit-scrollbar {
  display: none;
}
