.profile-img-container {
  margin-top: 70px;
  height: 200px;
  background-image: linear-gradient(to left, red, blue);
}
.img-container {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0%, 150%);
  margin: auto;
  border: 2px solid black;
  padding: 4px;
}
.profile-name {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgb(115, 213, 243), rgb(12, 90, 114));
  font-size: 30px;
  font-weight: bolder;
}
.user-details-con {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name-container,
.username-container {
  border: 1px solid black;
  padding: 4px;
  width: 50%;
  margin-bottom: 30px;
  background-color: beige;
  box-shadow: rgb(31 45 61 / 15%) 0px 1px 2px 0px;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 28px;
}
.user-dp {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.user-input {
  cursor: pointer !important;
  opacity: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 0;
}
.upload-button {
  width: 50%;

  background-color: rgb(9, 103, 210);
  box-shadow: none;
  padding: 6px 0 6px;
  font-weight: bold;
  outline: none !important;
  border: 0;
  border-radius: 5px;
  color: white;
  margin-bottom: 39px;
}
.user-label {
  height: 100%;
  width: 100%;
  margin: auto;
}
.update-msg {
  color: green;
  font-size: 28px;
  font-weight: 720;
}

@media (max-width: 600px) {
  .username-container,
  .name-container,
  .upload-button {
    width: 85%;
  }
}
