.navbar {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  height: 58px !important;
  box-shadow: rgb(31 45 61 / 15%) 0px 1px 2px 0px;
}
.logo {
  margin-left: 10px;
}
.link {
  font-size: 20px;
  font-weight: 500;
  color: black !important;
}
.nav-item:hover {
  color: red !important;
  border-bottom: 2px solid blue;
}
.profile {
  height: 38px;
  width: 38px;
  background-color: rgb(154, 240, 143);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 27px;

  border: 1px solid black;
  border-radius: 100%;
  margin-top: 9px;
}
.logout-button {
  outline: none;
  box-shadow: none !important;
}
.sz-navbar-items {
  list-style-type: none;
  margin-top: 10px;
}
.sz-navbar {
  height: 70px !important;
}
.sz-navbar-inner {
  padding: 0 24px !important;
  max-width: 100vw !important;
}
.profile-mobile-view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 34px;
}
.navbar-user-dp {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.initial {
  margin-top: 14px;
}
@media (min-width: 576px) {
  .profile-mobile-view {
    display: none;
  }
}
@media (max-width: 600px) {
  .sz-navbar-items {
    max-width: 300px !important; /* limit width of mobile menu */

    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .sz-navbar-item {
    width: 100%;
    white-space: pre-wrap;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 2em;
    color: rgb(97, 110, 124);
    border-top: 1px solid rgba(74, 81, 97, 0.1);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 26px;
    line-height: 1;
    letter-spacing: normal;
    text-decoration: none;
    opacity: 1;
  }
  .sz-navbar-inner {
    justify-content: flex-start;
  }
  .sz-navbar-inner {
    justify-content: flex-start !important;
  }

  .nav-width {
    width: 0px !important;
  }
}
